Job: "TestFit"
	Label: "FakeFit"
	CmeLabel: "13 TeV"
	LumiLabel: "140.5 fb^{-1}"
	POI: "SigXsecOverSM"
	HistoPath: "Inputs"
	DebugLevel: 1
	UseGammaPulls: TRUE
	ReadFrom: HIST
	SystControlPlots: TRUE
	SystDataPlots: TRUE

Fit: "MyFit"
	FitType: SPLUSB
	FitRegion: CRSR
	doLHscan: SigXsecOverSM

Region: "SR_1"
	Type: SIGNAL
	HistoName: "Wt"
	VariableTitle: "MeV [GeV]"
	Label: "Signal Region"
	ShortLabel: "SR 1"

Sample: "Data"
	Title: "Fake_Data"
	Type: data
	HistoFile: "data"

Sample: "Signal"
	Type: SIGNAL
	Title: "Signal"
	FillColor: 632
	LineColor: 632
	NormFactor: "SigXsecOverSM", 1, 0, 100
	HistoFile: "sig"

%______________________%
%___Example System_____%
%______________________%

Systematic: "WtXsec"
	Title: "Wt Systematics"
	Type: HISTO
	Samples: Signal
	HistoNameUp: "Wt_U_Sys"
	HistoNameDown: "Wt_L_Sys"
	Category: Theory 
	SubCategory: "Dummy-test"





