%=========== Initialization Of the Fit ============%
Job: "AIDA"
	ReadFrom: HIST
	POI: "SigXsecOverSM" 
	PlotOptions: NOXERR, CHI2
	HistoPath: "Input"
	HistoFile: "Histograms_Jets"
	CmeLabel: "13 TeV"
	DoSummaryPlot: TRUE
	SummaryPlotRegions: OFOC, SFOC, SFSC
	LumiLabel: "140.5 fb^{-1}"
	GetChi2: TRUE
	RankingPlot: Systs
	DebugLevel: 1

Fit: "MyFit"
	FitType: SPLUSB
	FitRegion: CRSR
	doLHscan: SigXsecOverSM

%============= Data and Monte Carlo ===============%

Sample: "Data"
	HistoNameSuff: "Data"
	Type: DATA
	Title: "Data"

Sample: "tW"
	HistoNameSuff: "_tW"
	Title: "#it{tW}"
	TexTitle: "$tW$"
	FillColor: 862
	LineColor: 1
	Type: SIGNAL

NormFactor: "SigXsecOverSM"
	Max: 10
	Nominal: 1
	Min: 0
	Samples: tW
	Title: "#it{#mu}_{#it{tW}}"

%=========== Definition of Regions ================%
Region: "OFOC"
	Type: SIGNAL
	HistoName: "O-Flav, O-Char"
	ShortLabel: "OFOC"

Region: "SFOC"
	Type: SIGNAL
	HistoName: "S-Flav, O-Char"
	ShortLabel: "SFOC"

Region: "SFSC"
	Type: SIGNAL
	HistoName: "S-Flav, S-Char"
	ShortLabel: "SFSC"
	

%====== Different Systematics only for tW =========%
% ======= OFOC ======== %
Systematic: "muR"
	HistoNameUp: "OFOC_muR_Up"
	HistoNameDown: "OFOC_muR_Down"
	Symmetrisation: TWOSIDED	
	Title: "tW_MuR"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "muF"
	HistoNameUp: "OFOC_muF_Up"
	HistoNameDown: "OFOC_muF_Down"
	Symmetrisation: TWOSIDED	
	Title: "tW_MuF"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "ISR"
	HistoNameUp: "OFOC_ISR_Up"
	HistoNameDown: "OFOC_ISR_Down"
	Title: "ISR Systematic"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "JVT"
	HistoNameUp: "OFOC_JVT_Up"
	HistoNameDown: "OFOC_JVT_Down"
	Title: "Jet Vertex Tracking"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "EL_SF_ID"
	HistoNameUp: "OFOC_EL_ScaleFactor_ID_Up"
	HistoNameDown: "OFOC_EL_ScaleFactor_ID_Down"
	Title: "Electron Scale Factor ID"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "EL_SF_Isol"
	HistoNameUp: "OFOC_EL_ScaleFactor_Isol_Up"
	HistoNameDown: "OFOC_EL_ScaleFactor_Isol_Down"
	Title: "Electron Scale Factor Isolation"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "EL_SF_Reco"
	HistoNameUp: "OFOC_EL_ScaleFactor_Reco_Up
	HistoNameDown: "OFOC_EL_ScaleFactor_Reco_Down"
	Title: "Electron Scale Factor Reconstruction"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "EL_SF_Trigger"
	HistoNameUp: "OFOC_EL_ScaleFactor_Trigger_Up
	HistoNameDown: "OFOC_EL_ScaleFactor_Trigger_Down"
	Title: "Electron Scale Factor Trigger"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "MU_SF_ID_Stat"
	HistoNameUp: "OFOC_MU_ScaleFactor_ID_Stat_Up
	HistoNameDown: "OFOC_MU_ScaleFactor_ID_Stat_Down"
	Title: "Muon Scale Factor Statistical"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "MU_SF_Stat_LowPT"
	HistoNameUp: "OFOC_MU_ScaleFactor_ID_Stat_LowPT_Up
	HistoNameDown: "OFOC_MU_ScaleFactor_ID_Stat_LowPT_Down"
	Title: "Muon Scale Low PT"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "MU_SF_ID_Syst"
	HistoNameUp: "OFOC_MU_ScaleFactor_ID_Syst_Up"
	HistoNameDown: "OFOC_MU_ScaleFactor_ID_Syst_Down"
 	Title: "Muon Scale Factor Systematic"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"
 
 Systematic: "MU_SF_ID_Syst_LowPT"
	HistoNameUp: "OFOC_MU_ScaleFactor_ID_Syst_LowPT_Up"
	HistoNameDown: "OFOC_MU_ScaleFactor_ID_Syst_LowPT_Down"
  	Title: "Muon Scale Factor Systematic Low PT"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

 Systematic: "MU_SF_ISOL_Stat"
	HistoNameUp: "OFOC_MU_ScaleFactor_Isol_Stat_Up
	HistoNameDown: "OFOC_MU_ScaleFactor_Isol_Stat_Down"
	Title: "Muon Scale Factor Isolation Statistic"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"
 
 Systematic: "MU_SF_ISOL_SYST"
	HistoNameUp: "OFOC_MU_ScaleFactor_Isol_Syst_Up
	HistoNameDown: "OFOC_MU_ScaleFactor_Isol_Syst_Down"
 	Title: "Muon Scale Factor Isolation Systematic"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "MU_SF_TRIGGER_STAT"
	Title: "Muon Scale Factor Trigger Statistics"
	HistoNameUp: "OFOC_MU_ScaleFactor_Trigger_Stat_Up
	HistoNameDown: "OFOC_MU_ScaleFactor_Trigger_Stat_Down"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "MU_SF_TRIGGER_SYST"
	Title: "Muon Scale Factor Trigger Systematic"
	HistoNameUp: "OFOC_MU_ScaleFactor_Trigger_Syst_Up
	HistoNameDown: "OFOC_MU_ScaleFactor_Trigger_Syst_Down"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"

Systematic: "PileUp"
	Title: "Pile Up" 
	HistoNameUp: "OFOC_PileUp_Up"
	HistoNameDown: "OFOC_PileUp_Down"
	Samples: tW
	Type: HISTO
	Regions: OFOC
	Category: "Modeling"





% ======= SFSC ======== %
Systematic: "muR"
	HistoNameUp: "SFSC_muR_Up"
	HistoNameDown: "SFSC_muR_Down"
	Symmetrisation: TWOSIDED	
	Title: "tW_MuR"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "muF"
	HistoNameUp: "SFSC_muF_Up"
	HistoNameDown: "SFSC_muF_Down"
	Symmetrisation: TWOSIDED	
	Title: "tW_MuF"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "ISR"
	HistoNameUp: "SFSC_ISR_Up"
	HistoNameDown: "SFSC_ISR_Down"
	Title: "ISR Systematic"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "JVT"
	HistoNameUp: "SFSC_JVT_Up"
	HistoNameDown: "SFSC_JVT_Down"
	Title: "Jet Vertex Tracking"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "EL_SF_ID"
	HistoNameUp: "SFSC_EL_ScaleFactor_ID_Up"
	HistoNameDown: "SFSC_EL_ScaleFactor_ID_Down"
	Title: "Electron Scale Factor ID"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "EL_SF_Isol"
	HistoNameUp: "SFSC_EL_ScaleFactor_Isol_Up"
	HistoNameDown: "SFSC_EL_ScaleFactor_Isol_Down"
	Title: "Electron Scale Factor Isolation"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "EL_SF_Reco"
	HistoNameUp: "SFSC_EL_ScaleFactor_Reco_Up
	HistoNameDown: "SFSC_EL_ScaleFactor_Reco_Down"
	Title: "Electron Scale Factor Reconstruction"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "EL_SF_Trigger"
	HistoNameUp: "SFSC_EL_ScaleFactor_Trigger_Up
	HistoNameDown: "SFSC_EL_ScaleFactor_Trigger_Down"
	Title: "Electron Scale Factor Trigger"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "MU_SF_ID_Stat"
	HistoNameUp: "SFSC_MU_ScaleFactor_ID_Stat_Up
	HistoNameDown: "SFSC_MU_ScaleFactor_ID_Stat_Down"
	Title: "Muon Scale Factor Statistical"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "MU_SF_Stat_LowPT"
	HistoNameUp: "SFSC_MU_ScaleFactor_ID_Stat_LowPT_Up
	HistoNameDown: "SFSC_MU_ScaleFactor_ID_Stat_LowPT_Down"
	Title: "Muon Scale Low PT"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "MU_SF_ID_Syst"
	HistoNameUp: "SFSC_MU_ScaleFactor_ID_Syst_Up"
	HistoNameDown: "SFSC_MU_ScaleFactor_ID_Syst_Down"
 	Title: "Muon Scale Factor Systematic"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"
 
 Systematic: "MU_SF_ID_Syst_LowPT"
	HistoNameUp: "SFSC_MU_ScaleFactor_ID_Syst_LowPT_Up"
	HistoNameDown: "SFSC_MU_ScaleFactor_ID_Syst_LowPT_Down"
  	Title: "Muon Scale Factor Systematic Low PT"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

 Systematic: "MU_SF_ISOL_Stat"
	HistoNameUp: "SFSC_MU_ScaleFactor_Isol_Stat_Up
	HistoNameDown: "SFSC_MU_ScaleFactor_Isol_Stat_Down"
	Title: "Muon Scale Factor Isolation Statistic"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"
 
 Systematic: "MU_SF_ISOL_SYST"
	HistoNameUp: "SFSC_MU_ScaleFactor_Isol_Syst_Up
	HistoNameDown: "SFSC_MU_ScaleFactor_Isol_Syst_Down"
 	Title: "Muon Scale Factor Isolation Systematic"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "MU_SF_TRIGGER_STAT"
	Title: "Muon Scale Factor Trigger Statistics"
	HistoNameUp: "SFSC_MU_ScaleFactor_Trigger_Stat_Up
	HistoNameDown: "SFSC_MU_ScaleFactor_Trigger_Stat_Down"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "MU_SF_TRIGGER_SYST"
	Title: "Muon Scale Factor Trigger Systematic"
	HistoNameUp: "SFSC_MU_ScaleFactor_Trigger_Syst_Up
	HistoNameDown: "SFSC_MU_ScaleFactor_Trigger_Syst_Down"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"

Systematic: "PileUp"
	Title: "Pile Up" 
	HistoNameUp: "SFSC_PileUp_Up"
	HistoNameDown: "SFSC_PileUp_Down"
	Samples: tW
	Type: HISTO
	Regions: SFSC
	Category: "Modeling"




% ======= SFOC ======== %
Systematic: "muR"
	HistoNameUp: "SFOC_muR_Up"
	HistoNameDown: "SFOC_muR_Down"
	Symmetrisation: TWOSIDED	
	Title: "tW_MuR"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "muF"
	HistoNameUp: "SFOC_muF_Up"
	HistoNameDown: "SFOC_muF_Down"
	Symmetrisation: TWOSIDED	
	Title: "tW_MuF"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "ISR"
	HistoNameUp: "SFOC_ISR_Up"
	HistoNameDown: "SFOC_ISR_Down"
	Title: "ISR Systematic"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "JVT"
	HistoNameUp: "SFOC_JVT_Up"
	HistoNameDown: "SFOC_JVT_Down"
	Title: "Jet Vertex Tracking"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "EL_SF_ID"
	HistoNameUp: "SFOC_EL_ScaleFactor_ID_Up"
	HistoNameDown: "SFOC_EL_ScaleFactor_ID_Down"
	Title: "Electron Scale Factor ID"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "EL_SF_Isol"
	HistoNameUp: "SFOC_EL_ScaleFactor_Isol_Up"
	HistoNameDown: "SFOC_EL_ScaleFactor_Isol_Down"
	Title: "Electron Scale Factor Isolation"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "EL_SF_Reco"
	HistoNameUp: "SFOC_EL_ScaleFactor_Reco_Up
	HistoNameDown: "SFOC_EL_ScaleFactor_Reco_Down"
	Title: "Electron Scale Factor Reconstruction"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "EL_SF_Trigger"
	HistoNameUp: "SFOC_EL_ScaleFactor_Trigger_Up
	HistoNameDown: "SFOC_EL_ScaleFactor_Trigger_Down"
	Title: "Electron Scale Factor Trigger"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "MU_SF_ID_Stat"
	HistoNameUp: "SFOC_MU_ScaleFactor_ID_Stat_Up
	HistoNameDown: "SFOC_MU_ScaleFactor_ID_Stat_Down"
	Title: "Muon Scale Factor Statistical"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "MU_SF_Stat_LowPT"
	HistoNameUp: "SFOC_MU_ScaleFactor_ID_Stat_LowPT_Up
	HistoNameDown: "SFOC_MU_ScaleFactor_ID_Stat_LowPT_Down"
	Title: "Muon Scale Low PT"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "MU_SF_ID_Syst"
	HistoNameUp: "SFOC_MU_ScaleFactor_ID_Syst_Up"
	HistoNameDown: "SFOC_MU_ScaleFactor_ID_Syst_Down"
 	Title: "Muon Scale Factor Systematic"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"
 
 Systematic: "MU_SF_ID_Syst_LowPT"
	HistoNameUp: "SFOC_MU_ScaleFactor_ID_Syst_LowPT_Up"
	HistoNameDown: "SFOC_MU_ScaleFactor_ID_Syst_LowPT_Down"
  	Title: "Muon Scale Factor Systematic Low PT"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

 Systematic: "MU_SF_ISOL_Stat"
	HistoNameUp: "SFOC_MU_ScaleFactor_Isol_Stat_Up
	HistoNameDown: "SFOC_MU_ScaleFactor_Isol_Stat_Down"
	Title: "Muon Scale Factor Isolation Statistic"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"
 
 Systematic: "MU_SF_ISOL_SYST"
	HistoNameUp: "SFOC_MU_ScaleFactor_Isol_Syst_Up
	HistoNameDown: "SFOC_MU_ScaleFactor_Isol_Syst_Down"
 	Title: "Muon Scale Factor Isolation Systematic"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "MU_SF_TRIGGER_STAT"
	Title: "Muon Scale Factor Trigger Statistics"
	HistoNameUp: "SFOC_MU_ScaleFactor_Trigger_Stat_Up
	HistoNameDown: "SFOC_MU_ScaleFactor_Trigger_Stat_Down"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "MU_SF_TRIGGER_SYST"
	Title: "Muon Scale Factor Trigger Systematic"
	HistoNameUp: "SFOC_MU_ScaleFactor_Trigger_Syst_Up
	HistoNameDown: "SFOC_MU_ScaleFactor_Trigger_Syst_Down"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

Systematic: "PileUp"
	Title: "Pile Up" 
	HistoNameUp: "SFOC_PileUp_Up"
	HistoNameDown: "SFOC_PileUp_Down"
	Samples: tW
	Type: HISTO
	Regions: SFOC
	Category: "Modeling"

