%=========== Initialization Of the Fit ============%
Job: "AIDA"
	Label: "Opposite Flavor and Charge"
	CmeLabel: "13 TeV"
	LumiLabel: "140.5 fb^{-1}"
	POI: "SigXsecOverSM" 
	HistoPath: "Input"
	DebugLevel: 1
	UseGammaPulls: TRUE
	ReadFrom: HIST
	SystControlPlots: TRUE
	SystDataPlots: TRUE

Fit: "MyFit"
	FitType: SPLUSB
	FitRegion: CRSR
	doLHscan: SigXsecOverSM

%=========== Data and Monte Carlo ============%
Sample: "Data"
	Title: "Data"
	Type: data
	HistoFile: "Histogram_Data_Jets"
	
Sample: "tW_OFOC" %Use this as signal
	Title: "tW"
	Type: SIGNAL
	FillColor: 632
	LineColor: 632
	NormFactor: "SigXsecOverSM", 1, 0, 100
	HistoFile: "Histograms_Jets"
	HistoName: "tW_O-Flav, O-Char"

%============ Region Definitions ==============%
Region: "tW_OFOC_S_Data"
	Type: SIGNAL 
	HistoName: "O-Flav, O-CharData"
	VariableTitle: "Mev [GeV]"

Region: "tW_SFOC_R_V"
	Type: CONTROL
	HistoName: "S-Flav, O-CharData"
	VariableTitle: "MeV [GeV]"

Region: "tW_OFC"
	Type: VALIDATION
	HistoName: "O-Flav, S-Char Data"
	VariableTitle: "Opposite Flavor, Same Charge"
	Label: "Validation region"
	ShortLabel: "VR"

%====== Different Systematics only for tW =========%
Systematic: "muR"
	Title: "MuR-Systematic"
	Type: OVERALL 
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_muR_Up"
	HistoNameDown: "tW_OFOC_muR_Down"
	Category: Theory
	SubCategory: "muR"
%	Regions: tW_OFOC_R_S

Systematic: "muF"
	Title: "MuF-Systematic"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_muF_Up"
	HistoNameDown: "tW_OFOC_muF_Down"
	Category: Instrumental
	SubCategory: "muF"

Systematic: "ISR"
	Title: "ISR-Systematic"
	Type: OVERALL 
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_ISR_Up"
	HistoNameDown: "tW_OFOC_ISR_Down"
	Category: Theory
	SubCategory: "ISR"

Systematic: "JVT"
	Title: "Jet Vertex Tracking"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_JVT_Up"
	HistoNameDown: "tW_OFOC_JVT_Down"
	Category: Instrumental
	SubCategory: "JVT"

Systematic: "EL_SF_ID"
	Title: "Electron Scale Factor ID"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_EL_ScaleFactor_ID_Up"
	HistoNameDown: "tW_OFOC_EL_ScaleFactor_ID_Down"
	Category: Instrumental
	SubCategory: "ScaleFactor"

Systematic: "EL_SF_Isol"
	Title: "Electron Scale Factor Isolation"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_EL_ScaleFactor_Isol_Up"
	HistoNameDown: "tW_OFOC_EL_ScaleFactor_Isol_Down"
	Category: Instrumental
	SubCategory: "ScaleFactor"

Systematic: "EL_SF_Reco"
	Title: "Electron Scale Factor Reconstruction"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_EL_ScaleFactor_Recon_Up
	HistoNameDown: "tW_OFOC_EL_ScaleFactor_Recon_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"

Systematic: "EL_SF_Trigger"
	Title: "Electron Scale Factor Trigger"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_EL_ScaleFactor_Trigger_Up
	HistoNameDown: "tW_OFOC_EL_ScaleFactor_Trigger_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"

Systematic: "MU_SF_ID_Stat"
	Title: "Muon Scale ID Statistical"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_ID_Stat_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_ID_Stat_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"

Systematic: "MU_SF_Stat_LowPT"
	Title: "Muon Scale Factor Low PT"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_ID_Stat_LowPT_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_ID_Stat_LowPT_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"

Systematic: "MU_SF_ID_Syst"
	Title: "Muon Scale Factor Systematic"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_ID_Syst_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_ID_Syst_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"
 
 Systematic: "MU_SF_ID_Syst_LowPT"
	Title: "Muon Scale Factor Systematic Low PT"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_Syst_LowPT_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_Syst_LowPT_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"
  
 Systematic: "MU_SF_ISOL_Stat"
	Title: "Muon Scale Factor Isolation Statistic"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_Isol_Stat_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_Isol_Stat_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"

 Systematic: "MU_SF_ISOL_SYST"
	Title: "Muon Scale Factor Isolation Systematic"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_Isol_Syst_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_Isol_Syst_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"
 
Systematic: "MU_SF_TRIGGER_STAT"
	Title: "Muon Scale Factor Trigger Statistics"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_Trigger_Stat_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_Trigger_Stat_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"

Systematic: "MU_SF_TRIGGER_SYST"
	Title: "Muon Scale Factor Trigger Systematic"
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_MU_ScaleFactor_Trigger_Syst_Up
	HistoNameDown: "tW_OFOC_MU_ScaleFactor_Trigger_Syst_Down"
	Category: Instrumental 
	SubCategory: "ScaleFactor"

Systematic: "PileUp"
	Title: "Pile Up" 
	Type: OVERALL
	Samples: tW_OFOC
	HistoNameUp: "tW_OFOC_PileUp_Up"
	HistoNameDown: "tW_OFOC_PileUp_Down"
	Category: Instrumental
	SubCategory: "PileUp"



